

.card1 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}


.card1 {
    opacity: 0.9;
    width: 25ch;
    height: 25ch;
    background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}