
.centering-text {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; font-size: 19px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
}
