.parr {
    position: absolute;
   left: .1%;
   right: .1%;
}

span1 {
    font-size: 150%;
}

sml {
    
    font-size: large;
}

.circle {
  display: block;
  background: white;
  opacity: .5;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 80%;
  
}
.small_circle {
  display: block;
  background: white;
  opacity: .5;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 98%;
  
}
.smaller_circle {
  display: block;
  background: white;
  opacity: .5;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 75%;
  
}




.circle_r {
  display: block;
  background: white;
  opacity: .5;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-right: 80%;
  
}
.small_circle_r {
  display: block;
  background: white;
  opacity: .5;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 77%;
  
}
.smaller_circle_r {
  display: block;
  background: white;
  opacity: .5;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 70%;
  
}
